<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">


<!-- export-table.html  21 Nov 2019 03:55:25 GMT -->
<head>
  <meta th:remove="tag" charset="UTF-8">
  <meta th:remove="tag" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Users List</title>
  <!-- General CSS Files -->
  <link th:remove="tag" rel="stylesheet" href="../../assets/css/app.min.css">
  <!-- Template CSS -->
  <link th:remove="tag" rel="stylesheet" href="../../assets/bundles/datatables/datatables.min.css">
  <link th:remove="tag" rel="stylesheet" href="../../assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
  <link th:remove="tag" rel="stylesheet" href="../../assets/css/style.css">
  <link th:remove="tag" rel="stylesheet" href="../../assets/css/components.css">
  <!-- Custom style CSS -->
  <link th:remove="tag" rel="stylesheet" href="../../assets/css/custom.css">
  <link th:remove="tag" rel='shortcut icon' type='image/x-icon' href='assets/img/favicon.ico' />
</head>
<th:block layout:fragment="head-links-template-css">
  <!-- Template CSS --><!-- from page -->
  <link rel="stylesheet" th:href="@{/assets/bundles/datatables/datatables.min.css}">
  <link rel="stylesheet" th:href="@{/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css}">
  <link rel="stylesheet" th:href="@{/assets/css/style.css}">
  <link rel="stylesheet" th:href="@{/assets/css/components.css}">
</th:block>
<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">

      <!-- Main Content -->
      <div class="main-content">
        <section class="section" layout:fragment="content">
          <div class="section-body">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Users List</h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                        <thead>
                          <tr>
                            <th>username</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Enabled</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody id="listData">
                          <tr>
                            <td class="row_username">agus.ramdan@gmail.com</td>
                            <td class="row_firstName">Agus</td>
                            <td class="row_lastName">Ramdan</td>
                            <td class="row_enabled">
                              <div class="badge">Not Active</div>
                            </td>
                            <td class="row_action">
                              <a href="#" class="btn btn-primary">Edit</a>
                            </td>
                          </tr>
                          <tr>
                            <td class="row_username">abdul.rahman@gmail.com</td>
                            <td class="row_firstName">Abdul</td>
                            <td class="row_lastName">Rahman</td>
                            <td class="row_enabled">
                              <div class="badge">Not Active</div>
                            </td>
                            <td class="row_action">
                              <a href="#" class="btn btn-primary">Edit</a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <!-- General JS Scripts -->
  <script th:remove="tag" src="../../assets/js/app.min.js"></script>
  <!-- JS Libraies -->
  <!-- Page Specific JS File -->
  <script th:remove="tag" src="../../assets/bundles/datatables/datatables.min.js"></script>
  <script th:remove="tag" src="../../assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
  <script th:remove="tag" src="../../assets/bundles/datatables/export-tables/dataTables.buttons.min.js"></script>
  <script th:remove="tag" src="../../assets/bundles/datatables/export-tables/buttons.flash.min.js"></script>
  <script th:remove="tag" src="../../assets/bundles/datatables/export-tables/jszip.min.js"></script>
  <script th:remove="tag" src="../../assets/bundles/datatables/export-tables/pdfmake.min.js"></script>
  <script th:remove="tag" src="../../assets/bundles/datatables/export-tables/vfs_fonts.js"></script>
  <script th:remove="tag" src="../../assets/bundles/datatables/export-tables/buttons.print.min.js"></script>
  <script th:remove="tag" src="../../assets/js/page/datatables.js"></script>

  <th:block layout:fragment="page-script">
  <!-- JS Libraies -->
  <!-- Page Specific JS File -->
  <script th:src="@{/assets/bundles/datatables/datatables.min.js}"></script>
  <script th:src="@{/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js}"></script>
  <script th:src="@{/assets/bundles/datatables/export-tables/dataTables.buttons.min.js}"></script>
  <script th:src="@{/assets/bundles/datatables/export-tables/buttons.flash.min.js}"></script>
  <script th:src="@{/assets/bundles/datatables/export-tables/jszip.min.js}"></script>
  <script th:src="@{/assets/bundles/datatables/export-tables/pdfmake.min.js}"></script>
  <script th:src="@{/assets/bundles/datatables/export-tables/vfs_fonts.js}"></script>
  <script th:src="@{/assets/bundles/datatables/export-tables/buttons.print.min.js}"></script>
  <script th:src="@{/assets/js/page/datatables.js}"></script>
  </th:block>
  <!-- Template JS File -->
  <script th:remove="tag" src="../../assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script th:remove="tag" src="../../assets/js/custom.js"></script>
  <th:block layout:fragment="footer-script">
    <script>
      // menu
      // side bar menu active
      $("#menu_parent-idm").addClass(function (){return "active";});
      $("#menu_child-idm_users").addClass( function (){return "active";});
    </script>
  </th:block>

</body>


<!-- export-table.html  21 Nov 2019 03:56:01 GMT -->
</html>