<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title></title>
</head>
<body>

<div class="main-sidebar sidebar-style-2" th:fragment="sidebar">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a th:href="@{/index.html}"> <img alt="image" th:src="@{/assets/img/logo.png}" class="header-logo" /> <span
                    class="logo-name">Otika</span>
            </a>
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">Main</li>
            <li class="dropdown" id="menu-header_dashboard">
                <a th:href="@{/index.html}" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
            </li>

            <li class="dropdown" id="menu-header_widgets">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i
                        data-feather="briefcase"></i><span>Widgets</span></a>
                <ul class="dropdown-menu">
                    <li  id="menu_chart-widgets" ><a class="nav-link" th:href="@{/widget-chart.html}">Chart Widgets</a></li>
                    <li><a class="nav-link" th:href="@{/widget-data.html}">Data Widgets</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="command"></i><span>Apps</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" th:href="@{/chat.html}">Chat</a></li>
                    <li><a class="nav-link" th:href="@{/portfolio.html}">Portfolio</a></li>
                    <li><a class="nav-link" th:href="@{/blog.html}">Blog</a></li>
                    <li><a class="nav-link" th:href="@{/calendar.html}">Calendar</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="mail"></i><span>Email</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" th:href="@{/email-inbox.html}">Inbox</a></li>
                    <li><a class="nav-link" th:href="@{/email-compose.html}">Compose</a></li>
                    <li><a class="nav-link" th:href="@{/email-read.html}">read</a></li>
                </ul>
            </li>
            <li class="menu-header">Security</li>
            <li class="dropdown" id="menu_parent-idm">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i
                        data-feather="users"></i><span>IDM</span></a>
                <ul class="dropdown-menu">
                    <li id="menu_child-idm_roles"><a class="nav-link" th:href="@{/widget-data.html}">Roles</a></li>
                    <li id="menu_child-idm_users"><a class="nav-link" th:href="@{/idm/users}">Users</a></li>
                    <li id="menu_child-idm_groups"><a class="nav-link" th:href="@{/widget-chart.html}">Groups</a></li>
                </ul>
            </li>
            <li class="dropdown" id="menu_parent-acl">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i
                        data-feather="shield"></i><span>ACL</span></a>
                <ul class="dropdown-menu">
                    <li id="menu_child-acl_applications"><a class="nav-link" th:href="@{/widget-chart.html}">Applications</a></li>
                    <li id="menu_child-acl_menus"><a class="nav-link" th:href="@{/widget-chart.html}">Menus</a></li>
                    <li id="menu_child-acl_permissions"><a class="nav-link" th:href="@{/widget-chart.html}">Permision</a></li>
                </ul>
            </li>
            <li class="menu-header">UI Elements</li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="copy"></i><span>Basic
                  Components</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" th:href="@{/alert.html}">Alert</a></li>
                    <li><a class="nav-link" th:href="@{/badge.html}">Badge</a></li>
                    <li><a class="nav-link" th:href="@{/breadcrumb.html}">Breadcrumb</a></li>
                    <li><a class="nav-link" th:href="@{/buttons.html}">Buttons</a></li>
                    <li><a class="nav-link" th:href="@{/collapse.html}">Collapse</a></li>
                    <li><a class="nav-link" th:href="@{/dropdown.html}">Dropdown</a></li>
                    <li><a class="nav-link" th:href="@{/checkbox-and-radio.html}">Checkbox &amp; Radios</a></li>
                    <li><a class="nav-link" th:href="@{/list-group.html}">List Group</a></li>
                    <li><a class="nav-link" th:href="@{/media-object.html}">Media Object</a></li>
                    <li><a class="nav-link" th:href="@{/navbar.html}">Navbar</a></li>
                    <li><a class="nav-link" th:href="@{/pagination.html}">Pagination</a></li>
                    <li><a class="nav-link" th:href="@{/popover.html}">Popover</a></li>
                    <li><a class="nav-link" th:href="@{/progress.html}">Progress</a></li>
                    <li><a class="nav-link" th:href="@{/tooltip.html}">Tooltip</a></li>
                    <li><a class="nav-link" th:href="@{/flags.html}">Flag</a></li>
                    <li><a class="nav-link" th:href="@{/typography.html}">Typography</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i
                        data-feather="shopping-bag"></i><span>Advanced</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" th:href="@{/avatar.html}">Avatar</a></li>
                    <li><a class="nav-link" th:href="@{/card.html}">Card</a></li>
                    <li><a class="nav-link" th:href="@{/modal.html}">Modal</a></li>
                    <li><a class="nav-link" th:href="@{/sweet-alert.html}">Sweet Alert</a></li>
                    <li><a class="nav-link" th:href="@{/toastr.html}">Toastr</a></li>
                    <li><a class="nav-link" th:href="@{/empty-state.html}">Empty State</a></li>
                    <li><a class="nav-link" th:href="@{/multiple-upload.html}">Multiple Upload</a></li>
                    <li><a class="nav-link" th:href="@{/pricing.html}">Pricing</a></li>
                    <li><a class="nav-link" th:href="@{/tabs.html}">Tab</a></li>
                </ul>
            </li>
            <li><a class="nav-link" th:href="@{/blank.html}"><i data-feather="file"></i><span>Blank Page</span></a></li>
            <li class="menu-header">Otika</li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="layout"></i><span>Forms</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" th:href="@{/basic-form.html}">Basic Form</a></li>
                    <li><a class="nav-link" th:href="@{/forms-advanced-form.html}">Advanced Form</a></li>
                    <li><a class="nav-link" th:href="@{/forms-editor.html}">Editor</a></li>
                    <li><a class="nav-link" th:href="@{/forms-validation.html}">Validation</a></li>
                    <li><a class="nav-link" th:href="@{/form-wizard.html}">Form Wizard</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="grid"></i><span>Tables</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" th:href="@{/basic-table.html}">Basic Tables</a></li>
                    <li><a class="nav-link" th:href="@{/advance-table.html}">Advanced Table</a></li>
                    <li><a class="nav-link" th:href="@{/datatables.html}">Datatable</a></li>
                    <li><a class="nav-link" th:href="@{/export-table.html}">Export Table</a></li>
                    <li><a class="nav-link" th:href="@{/editable-table.html}">Editable Table</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i
                        data-feather="pie-chart"></i><span>Charts</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" th:href="@{/chart-amchart.html}">amChart</a></li>
                    <li><a class="nav-link" th:href="@{/chart-apexchart.html}">apexchart</a></li>
                    <li><a class="nav-link" th:href="@{/chart-echart.html}">eChart</a></li>
                    <li><a class="nav-link" th:href="@{/chart-chartjs.html}">Chartjs</a></li>
                    <li><a class="nav-link" th:href="@{/chart-sparkline.html}">Sparkline</a></li>
                    <li><a class="nav-link" th:href="@{/chart-morris.html}">Morris</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="feather"></i><span>Icons</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" th:href="@{/icon-font-awesome.html}">Font Awesome</a></li>
                    <li><a class="nav-link" th:href="@{/icon-material.html}">Material Design</a></li>
                    <li><a class="nav-link" th:href="@{/icon-ionicons.html}">Ion Icons</a></li>
                    <li><a class="nav-link" th:href="@{/icon-feather.html}">Feather Icons</a></li>
                    <li><a class="nav-link" th:href="@{/icon-weather-icon.html}">Weather Icon</a></li>
                </ul>
            </li>
            <li class="menu-header">Media</li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="image"></i><span>Gallery</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" th:href="@{/light-gallery.html}">Light Gallery</a></li>
                    <li><a th:href="@{/gallery1.html}">Gallery 2</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="flag"></i><span>Sliders</span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/carousel.html}">Bootstrap Carousel.html</a></li>
                    <li><a class="nav-link" th:href="@{/owl-carousel.html}">Owl Carousel</a></li>
                </ul>
            </li>
            <li><a class="nav-link" th:href="@{/timeline.html}"><i data-feather="sliders"></i><span>Timeline</span></a></li>
            <li class="menu-header">Maps</li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="map"></i><span>Google
                  Maps</span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/gmaps-advanced-route.html}">Advanced Route</a></li>
                    <li><a th:href="@{/gmaps-draggable-marker.html}">Draggable Marker</a></li>
                    <li><a th:href="@{/gmaps-geocoding.html}">Geocoding</a></li>
                    <li><a th:href="@{/gmaps-geolocation.html}">Geolocation</a></li>
                    <li><a th:href="@{/gmaps-marker.html}">Marker</a></li>
                    <li><a th:href="@{/gmaps-multiple-marker.html}">Multiple Marker</a></li>
                    <li><a th:href="@{/gmaps-route.html}">Route</a></li>
                    <li><a th:href="@{/gmaps-simple.html}">Simple</a></li>
                </ul>
            </li>
            <li><a class="nav-link" th:href="@{/vector-map.html}"><i data-feather="map-pin"></i><span>Vector
                  Map</span></a></li>
            <li class="menu-header">Pages</li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i
                        data-feather="user-check"></i><span>Auth</span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/auth-login.html}">Login</a></li>
                    <li><a th:href="@{/auth-register.html}">Register</a></li>
                    <li><a th:href="@{/auth-forgot-password.html}">Forgot Password</a></li>
                    <li><a th:href="@{/auth-reset-password.html}">Reset Password</a></li>
                    <li><a th:href="@{/subscribe.html}">Subscribe</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i
                        data-feather="alert-triangle"></i><span>Errors</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" th:href="@{/errors-503.html}">503</a></li>
                    <li><a class="nav-link" th:href="@{/errors-403.html}">403</a></li>
                    <li><a class="nav-link" th:href="@{/errors-404.html}">404</a></li>
                    <li><a class="nav-link" th:href="@{/errors-500.html}">500</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="anchor"></i><span>Other
                  Pages</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" th:href="@{/create-post.html}">Create Post</a></li>
                    <li><a class="nav-link" th:href="@{/posts.html}">Posts</a></li>
                    <li><a class="nav-link" th:href="@{/profile.html}">Profile</a></li>
                    <li><a class="nav-link" th:href="@{/contact.html}">Contact</a></li>
                    <li><a class="nav-link" th:href="@{/invoice.html}">Invoice</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i
                        data-feather="chevrons-down"></i><span>Multilevel</span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Menu 1</a></li>
                    <li class="dropdown">
                        <a href="#" class="has-dropdown">Menu 2</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Child Menu 1</a></li>
                            <li class="dropdown">
                                <a href="#" class="has-dropdown">Child Menu 2</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Child Menu 1</a></li>
                                    <li><a href="#">Child Menu 2</a></li>
                                </ul>
                            </li>
                            <li><a href="#"> Child Menu 3</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>
</div>

</body>
</html>