<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>


<!-- auth-login.html  21 Nov 2019 03:49:32 GMT -->
<head>
<th:block layout:fragment="head-meta"  >
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
</th:block>
  <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Otika</title>
<th:block layout:fragment="head-links-general-css"  >
  <!-- General CSS Files --><!-- from layout -->
  <link rel="stylesheet" th:href="@{/assets/css/app.min.css}">
</th:block>

<th:block layout:fragment="head-links-template-css">
  <!-- Template CSS --><!-- from layout -->
  <link rel="stylesheet" th:href="@{/assets/css/style.css}">
  <link rel="stylesheet" th:href="@{/assets/css/components.css}">
</th:block>

<th:block layout:fragment="head-links-template-css">
  <!-- Custom style  CSS --><!-- from layout -->
  <link rel="stylesheet" th:href="@{/assets/css/custom.css}">
</th:block>
  <link rel='shortcut icon' type='image/x-icon' th:href="@{/assets/img/favicon.ico}"/>
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <section class="section" layout:fragment="content">
      <!-- content -->
    </section>
  </div>
  <th:block layout:fragment="general-script"  >
    <!-- General JS Scripts --><!-- from layout -->
    <script th:src="@{/assets/js/app.min.js}"></script>
  </th:block>

  <th:block layout:fragment="libraies-script"  >
    <!-- JS Libraies --> <!-- from layout -->
  </th:block>

  <th:block layout:fragment="page-script" >
    <!-- Page Specific JS File --><!-- from layout -->
  </th:block>

  <th:block layout:fragment="template-script" >
    <!-- Template JS File --><!-- from layout -->
    <script th:src="@{/assets/js/scripts.js}"></script>
  </th:block>

  <th:block layout:fragment="custom-script" >
    <!-- Custom JS File --><!-- from layout -->
    <script th:src="@{/assets/js/custom.js}"></script>
  </th:block>
  <th:block layout:fragment="footer-script" ></th:block>
</body>


<!-- auth-login.html  21 Nov 2019 03:49:32 GMT -->
</html>