<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<!-- index.html  21 Nov 2019 03:44:50 GMT -->
<head>
  <th:block layout:fragment="head-meta"  >
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  </th:block>
  <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Otika</title>
  <th:block layout:fragment="head-links-general-css"  >
    <!-- General CSS Files --><!-- from layout -->
    <link rel="stylesheet" th:href="@{/assets/css/app.min.css}">
  </th:block>

  <th:block layout:fragment="head-links-template-css">
    <!-- Template CSS --><!-- from layout -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/components.css}">
   </th:block>

  <th:block layout:fragment="head-links-template-css">
    <!-- Custom style  CSS --><!-- from layout -->
    <link rel="stylesheet" th:href="@{/assets/css/custom.css}">
  </th:block>
  <link rel='shortcut icon' type='image/x-icon' th:href="@{/assets/img/favicon.ico}"/>
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar sticky" th:replace="fragments/layout :: header">
       <!-- header -->
      </nav>
      <div class="main-sidebar sidebar-style-2" th:replace="fragments/layout :: sidebar">
        <!-- sidebar -->
      </div>
      <!-- Main Content -->
      <div class="main-content">
        <section class="section" layout:fragment="content">
           <!-- main content -->
        </section>
        <div class="settingSidebar"  th:replace="fragments/layout :: setting-sidebar" >
           <!-- setting-sidebar -->
        </div>
      </div>
      <footer class="main-footer" th:replace="fragments/layout :: footer">
        <!-- footer -->
      </footer>
    </div>
  </div>

  <th:block layout:fragment="general-script"  >
      <!-- General JS Scripts --><!-- from layout -->
      <script th:src="@{/assets/js/app.min.js}"></script>
  </th:block>

  <th:block layout:fragment="libraies-script"  >
    <!-- JS Libraies --> <!-- from layout -->
    <script th:src="@{/assets/bundles/apexcharts/apexcharts.min.js}"></script>
  </th:block>

  <th:block layout:fragment="page-script" >
    <!-- Page Specific JS File --><!-- from layout -->
    <script th:src="@{/assets/js/page/index.js}"></script>
  </th:block>

  <th:block layout:fragment="template-script" >
    <!-- Template JS File --><!-- from layout -->
    <script th:src="@{/assets/js/scripts.js}"></script>
  </th:block>

  <th:block layout:fragment="custom-script" >
    <!-- Custom JS File --><!-- from layout -->
    <script th:src="@{/assets/js/custom.js}"></script>
  </th:block>

  <th:block layout:fragment="footer-script" ></th:block>
</body>
<!-- index.html  21 Nov 2019 03:47:04 GMT -->
</html>
